<!DOCTYPE html>
<html>

<head>
    <title>Student List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>Student List</h1>
    <ul>
        {% for student in students %}
            <li>{{ student[1] }} - {{ student[2] }} years old, Grade: {{ student[3] }}
                <a href="{{ url_for('delete_student', id=student[0]) }}">Delete</a>
                <a href="{{ url_for('edit_student', id=student[0]) }}">Edit</a>
            </li>
        {% endfor %}
    </ul>    
    <a href="{{ url_for('add_student') }}">Add Student</a>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>